[submodule "database"]
	path = database
	url = git@github.com:Guilherme-Silva-Oliveira/Projeto-de-Extensao-BancoDeDados.git
[submodule "backend"]
	path = backend
	url = git@github.com:Guilherme-Silva-Oliveira/Projeto-de-Extensao-Back-End-Estoque.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Guilherme-Silva-Oliveira/Projeto-de-Extensao-Front-End.git
